@import '../../sass/variable/variables.scss';

.header {
    &_title {
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0.12em;
        text-align: center;
        text-transform: uppercase;
        color: $white_color;
    }

    &_description {
        margin: 0 auto;
        margin-bottom: 35px;
        width: 510px;
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        text-align: center;
        color: $grey_color;
    }   
}